# Exclude virtual environments
/llama_env/

# Exclude local documentation
/local_documentation

# Exclude system files
*.DS_Store

# Exclude large files and binaries
*.dylib
*.so
*.dll

# Python cache files
__pycache__/
*.pyc

